/* GLOBAL */
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --neutral-color: hsl(0, 0%, 98%);
    --primary-color: hsl(0, 0%, 41%);
    --secondary-color: hsl(0, 0%, 8%);

    --font: 'Epilogue', sans-serif;

    font-size: 62.5%;
}

html, body{
    background-color: var(--neutral-color);
    color: var(--primary-color);

    width: 100%;
    height: auto;
    min-height: 100%;
    
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--font);
}

button{
    background: none;

    cursor: pointer;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
}

.generic-button,
.generic-link{
    color: var(--primary-color);

    font-size: 1.8rem;
    font-family: var(--font);
}

.generic-button img{
    vertical-align: middle;

    margin-left: .6rem;
}

.login,
.register{
    color: var(--primary-color);
}

.register{
    border: .2rem solid var(--primary-color);
    border-radius: 1.4rem;

    text-align: center;

    padding-inline: 6rem;

    padding-block: 1.2rem;
}

@media screen and (min-width: 1024px) {
    .container{
        max-width: 125rem;

        margin-inline: auto;
        padding-inline: 3rem;
    }
}

/* HEADER */
.header{
    width: 100%;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 3rem;
    padding-inline: 1.8rem;
}

.header__navigation{
    display: none;
}

@media screen and (min-width: 768px) {
    .header__container{
        padding-inline: 4rem;
    }
}

@media screen and (min-width: 1024px) {    
    .header__logo{
        margin-right: 4rem;
    }

    .open-menu{
        display: none;
    }

    .header__navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }

    .header__list{
        display: flex;
        column-gap: 4rem;
    }

    .header__sign{
        display: flex;
        align-items: center;
        column-gap: 2rem;
    }
}

/* MENU */
#overlay{
    display: none;

    cursor: pointer;

    background-color: var(--secondary-color);

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    opacity: .8;
}

.menu{
    background-color: var(--neutral-color);

    width: 65vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);

    padding-top: 3rem;
    padding-inline: 1.8rem;

    transition: transform .3s ease-in-out;
}

.menu-open{
    transform: translateX(0%);
}

.menu__container{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.menu__header{
    display: flex;
    justify-content: flex-end;
}

.menu__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
}

.menu__sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
    .menu__container{
        padding-inline: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .menu{
        display: none;
    }
}

/* MAIN */
.main{
    width: 100%;
}

.main__container{
    display: grid;
    gap: 5rem;

    text-align: center;

    max-width: 40rem;

    margin-inline: auto;
    padding-bottom: 8rem;
}

.main__hero{
    width: 100%;
}

.main__content{
    padding-inline: 1.8rem;
}

.main__title{
    color: var(--secondary-color);

    font-size: 3.4rem;
}

.main__paragraph{
    margin-block: 2rem;

    line-height: 1.5;
}

.main__button{
    background-color: var(--secondary-color);
    border-radius: 1.4rem;
    color: var(--neutral-color);
    
    font-size: 2rem;
    font-family: var(--font);

    padding-block: 1.6rem;
    padding-inline: 2.4rem;

    margin-top: .4rem;
}

.main__footer{
    width: 100%;

    padding-top: 5rem;
}

.footer__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__img{
    width: 6.8rem;
}

@media screen and (min-width: 1024px) {
    .main__container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'text img';
    
        max-width: 100%;

        padding-top: 6rem;
    }

    .main__container div{
        grid-area: img;
    }

    .main__content{
        text-align: left;

        align-self: center;

        padding-inline: 0;
    }

    .main__title{    
        font-size: 6rem;
    }

    .footer__list{
        justify-content: flex-start;
        gap: 4rem;
    }

    .footer__img{
        width: 8rem;
    }
}
