/* GLOBAL */
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --neutral-color: hsl(0, 0%, 98%);
    --primary-color: hsl(0, 0%, 41%);
    --secondary-color: hsl(0, 0%, 8%);
    
    --list-expanded-bg-color: hsl(0, 0%, 100%);
    --list-expanded-shadow-color: hsla(0, 0%, 64%, 1);

    --font: 'Epilogue', sans-serif;

    font-size: 62.5%;
}

html, body{
    background-color: var(--neutral-color);
    color: var(--primary-color);

    width: 100%;
    height: auto;
    min-height: 100%;
    
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--font);
}

button{
    background: none;

    cursor: pointer;
}

img{
    vertical-align: top;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
}

.generic-button,
.generic-link{
    color: var(--primary-color);

    font-size: 1.8rem;
    font-family: var(--font);
}

.generic-button{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.generic-button--active{
    color: var(--secondary-color);
}

.button-arrow--active{
    stroke: var(--secondary-color);   
}

.generic-button:hover,
.generic-link:hover{
    color: var(--secondary-color);
}

.generic-button:hover .button-arrow path{
    stroke: var(--secondary-color);
}

.login,
.register{
    color: var(--primary-color);
}

.login:hover,
.register:hover{
    color: var(--secondary-color);
}

.register:hover{
    border-color: var(--secondary-color);
}

.register{
    border: .2rem solid var(--primary-color);
    border-radius: 1.4rem;

    text-align: center;

    padding-inline: 6rem;

    padding-block: 1.2rem;
}

/* EXPANDED ELEMENTS */
.list-expanded{
    display: none;

    background-color: var(--list-expanded-bg-color);
    border-radius: 1rem;
    -webkit-box-shadow: 0rem 0rem 2rem 0rem var(--list-expanded-shadow-color);
    -moz-box-shadow: 0rem 0rem 2rem 0rem var(--list-expanded-shadow-color);
    box-shadow: 0rem 0rem 2rem 0rem var(--list-expanded-shadow-color);

    margin-top: 1.4rem;

    position: absolute;

    padding: 2.4rem;
}

.list-expanded--open{
    display: block;
}

.features{
    right: 0;

    width: 17.5rem;
}

.company{
    left: 0; 

    width: 14rem;
}

.item-expanded:not(:last-child){
    margin-bottom: 1.6rem;
}

.link-expanded{
    display: flex;
    align-items: center;
    gap: 1.6rem;

    color: var(--primary-color);
}

.link-expanded img{
    width: 1.6rem;
}

/* MOBILE STYLES */
.features-mobile, .company-mobile{
    background: transparent;
    box-shadow: none;

    position: static;

    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    div.container{
        max-width: 120rem;

        margin-inline: auto;
        padding-inline: 6rem;
    }

    .register{
        padding-inline: 2.4rem;
    }
}

/* HEADER */
.header{
    width: 100%;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 3rem;
    padding-inline: 1.8rem;
}

.header__navigation{
    display: none;
}

@media screen and (min-width: 768px) {
    .header__container{
        padding-inline: 4rem;
    }
}

@media screen and (min-width: 1024px) {    
    .header__container{
        column-gap: 6rem;
    }

    .open-menu{
        display: none;
    }

    .header__navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }

    .header__list{
        display: flex;
        column-gap: 4rem;
    }

    .header__item{
        position: relative;
    }

    .header__sign{
        display: flex;
        align-items: center;
        column-gap: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .header__container{
        padding-inline: 7rem;
    }
}

/* MENU */
#overlay{
    display: none;

    cursor: pointer;

    background-color: var(--secondary-color);

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    opacity: .8;
}

.menu{
    background-color: var(--neutral-color);

    width: 65vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);

    padding-block: 3rem;
    padding-inline: 1.8rem;

    transition: transform .3s ease-in-out;

    overflow: auto;
}

.menu-open{
    transform: translateX(0%);
}

.menu__container{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.menu__header{
    display: flex;
    justify-content: flex-end;
}

.menu__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
}

.menu__sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
    .menu__container{
        padding-inline: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .menu{
        display: none;
    }
}

/* MAIN */
.main{
    width: 100%;
}

.main__container{
    display: grid;
    gap: 5rem;

    text-align: center;

    max-width: 40rem;

    margin-inline: auto;
    padding-bottom: 8rem;
}

.main__img img{
    width: 100%;
}

.main__content{
    padding-inline: 1.8rem;
}

.main__title{
    color: var(--secondary-color);

    font-size: 3.4rem;
}

.main__paragraph{
    margin-block: 2rem;

    line-height: 1.5;
}

.main__button{
    background-color: var(--secondary-color);
    border-radius: 1.4rem;
    border: .2rem solid var(--secondary-color);
    color: var(--neutral-color);
    
    font-size: 2rem;
    font-family: var(--font);

    padding-block: 1.6rem;
    padding-inline: 2.4rem;
    margin-top: .4rem;

    width: fit-content;

    transition: all .3s ease-in-out;
}

.main__button:hover{
    background: transparent;
    color: var(--secondary-color);
}

.main__footer{
    width: 100%;

    padding-top: 5rem;
}

.footer__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__img{
    width: 6.8rem;
}

@media screen and (min-width: 1024px) {
    .main__container{
        grid-template-columns: 1.4fr 1fr;
        grid-template-areas: 
        'text img';
        gap: 0;
        
        max-width: 100%;

        padding-top: 4rem;
    }

    .main__img{
        grid-area: img;
        justify-self: self-end;

        max-width: 45rem;
    }

    .main__content{
        display: grid;
        grid-template-rows: auto 18rem 6rem auto;
        align-self: center;

        text-align: left;
        
        padding-inline: 0;
        
        height: 100%;
    }

    .main__title{    
        font-size: 6rem;

        align-self: self-end;
    }

    .main__paragraph{      
        margin: 0;
        
        max-width: 48.2rem;

        align-self: center;
    }

    .main__button{
        align-self: self-start;
    }

    .main__footer{
        align-self: self-end;

        padding-top: 0;
    }

    .footer__list{
        justify-content: flex-start;
        gap: 4rem;
    }

    .footer__img{
        width: 8rem;
    }
}

@media screen and (min-width: 1200px) {
    .main__title{
        font-size: 7rem;
    }
}
